@import '../../variables.scss';

.modalUploadAvatar_container {
  background-color: $white;
  max-width: 520px;
  margin:0 auto;
  height : 160px;
  margin-top: 60px;
  padding : 16px;
  border-radius : 5px;
}

.modalUploadAvatar_container h3 {
  font-size: 1.1em;
  margin-bottom: 10px;
}

.uploadAvatar_btn  {
  @include buttonStyles(200px,35px,'green');
  margin-top: 16px;
  &[disabled] {
    background-color: rgba(137, 199, 57,.6)
  }
}